:root{
    --purple:#A020F0;
    --matteBlack:	#28282B;
    --platinum:#e5e4e2;
    --light:lightslategray;
  }
.div{
    
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: -9vh;
   display: flex;
   justify-content: center;
}  
.cont{
    width: fit-content;
     background-color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px ;
    box-shadow: 2px 2px 9px grey;
}

.cont .btn{
    margin: 2.5vh;
    background-color: var(--platinum);
    border: 2px solid var(--platinum);
    color:var(--matteBlack);
}
#sicon1{
    margin-right: 10px;
}