:root{
    --purple:#A020F0;
    --matteBlack:	#28282B;
    --platinum:#e5e4e2;
    --light:lightslategray;
  }
.page_2{
  
    background-color: whitesmoke;
    height: auto;
    width: 100%;
    padding: 20vh;
    margin: 0px;
    
}
.page_2 h1{
  text-align: center;
  color: 	var(--matteBlack);
}  
.number h1{
  height: 100px;
  width: 100px;
  border: 1px solid var(--purple);
  background-color: #6149cd;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  color: whitesmoke;
  margin-bottom: 20px;

}
.number p{
  color: var(--light);
  font-size: 0.7rem;
}
.number h6{
  color: #6149cd;
  margin-bottom: 0px;
  margin-bottom: 10px;
}