:root{
    --purple:#A020F0;
    --matteBlack:	#28282B;
    --platinum:#e5e4e2;
    --light:lightslategray;
  }
.page_9{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    padding-left: 21vh;
    padding-right: 21vh;
    padding-top: 20vh;
} 
.page_9 .heading{
  padding-bottom: 10vh;
}
.page_9 .heading h1{
    text-align: center;
    color: var(--matteBlack);
}
.page_9 .heading p{
    text-align: center;
    color: var(--light);
  font-size: 1.2rem;
  margin-top: 10px;
}