:root{
    --purple:#A020F0;
    --matteBlack:	#28282B;
    --platinum:#e5e4e2;
    --light:lightslategray;
  }
.page_8{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    padding-left: 21vh;
    padding-right: 21vh;
    padding-top: 20vh;
} 
.page_8 .heading{
  padding-bottom: 10vh;
}
.page_8 .heading p{
    color: var(--light);
  font-size: 1.5rem;
  margin-top: 10px;
}
.page_8 .contain{
  padding: 50px;
  color: whitesmoke;
  background-color: var(--purple);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.contain img{
  align-items: center;
  align-self: center;
  justify-items: center;
  margin-bottom: 20px;
}
.page_8 .contain h6{
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  font-size: 1.5rem;
}